.row{
    display: flex;
}

.col-2{
    background-color: cyan;
    padding:5px;
    margin: 5px;
    flex:1;
}
.col-3{
    background-color: lightblue;
    padding:5px;
    margin: 5px;
    flex:4;
}