.row{
    display: flex;
}

.col{
    padding:5px;
    margin: 5px;
    background-color: lightblue;
    flex: 1;
}
.col-2{
    padding:5px;
    margin:5px;
    background-color: blue;
    flex: 1;
}
.col-3{
    padding:5px;
    margin:5px;
    background-color: cyan;
    flex: 2;
}
.col-4{
    padding:5px;
    margin:5px;
    background-color: magenta;
    flex: 1;
}
.col-5{
    padding:5px;
    margin:5px;
    background-color: yellow;
    flex: 4;
}