.row-1{
    display: flex;
}
.row-3{
    display: flex;
}
.color-1{
    background-color: blue;
    width: 60px;
    height: 90px;
    display
}
.color-2{
    background-color: yellow;
    width: 30px;
    height: 90px;
}
.color-3{
    background-color: blue;
    width: 120px;
    height: 90px;
}
.row-2{
    background-color: yellow;
    width: 210px;
    height:30px;
}
